<h1>#<%= @game.name %></h1>
<div id="messages" data-game-id="<%= @game.id %>">
  <% @game.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.nickname %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>